@supports (animation-timeline: scroll()) {
  @media (prefers-reduced-motion: no-preference) {
    @property --scrub {
      syntax: "<number>";
      inherits: true;
      initial-value: 0;
    }

    .cta {
      animation: shrink;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-timeline: scroll(root);
      animation-range: 70vh 100vh;
      scale: var(--starting-scale);
      transition: --scrub 0.2s;
      width: calc(var(--size) + (var(--extended) * (1 - (var(--scrub) / 100))));
    }

    .cta::after {
      animation: flicker both linear;
      animation-timeline: scroll(root);
      animation-range: 70vh 100vh;
    }

    @keyframes wave {
      50% {
        rotate: 20deg;
      }
    }
    @keyframes shrink {
      to {
        scale: 1;
      }
    }

    @keyframes flicker {
      to {
        background-position: 200% 50%;
      }
    }

    .icon svg {
      animation: wave both linear 2;
      animation-timeline: scroll(root);
      animation-range: 30vh 50vh;
      transform-origin: 65% 75%;
    }
  }
}
